*{
    box-sizing: border-box;
}

body{
    background-color: teal;
    color: lightyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

canvas{
    background-color: palevioletred;
    border-radius: 50px;
}
